# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS Files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage/
